
:root {
  /* FONT SIZE */
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 2rem;
  --fs-3xl: 2.5rem;

  /* FONT WEIGHT */
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
}
*{
  
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html,
body{
  height: 100%;
  width: 100%;
  background-color: #fff;
  
}

html{
  scroll-behavior: smooth;
}



/* Hide Google Translate top banner completely */
.goog-te-banner-frame,
.goog-te-banner-frame.skiptranslate,
iframe.goog-te-banner-frame {
  display: none !important;
}

/* Remove page shift caused by translate bar */
body {
  top: 0px !important;
  position: static !important;
}

/* Hide Google branding */
.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  font-size: 0px !important;
}