*{
  
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html,
body{
  height: 100%;
  width: 100%;
  background-color: #fff;
  
}

html{
  scroll-behavior: smooth;
}



/* Hide Google Translate top banner completely */
.goog-te-banner-frame,
.goog-te-banner-frame.skiptranslate,
iframe.goog-te-banner-frame {
  display: none !important;
}

/* Remove page shift caused by translate bar */
body {
  top: 0px !important;
  position: static !important;
}

/* Hide Google branding */
.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  font-size: 0px !important;
}